/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.flex {
  display: flex;
  flex-flow: row wrap; /* 전체 영화볼 때 배치 */
}

.flexBetween {
  display: flex;
  justify-content: space-between; /* header 배치 */
}

.flexEven {
  display: flex;
  justify-content: space-evenly;
}

.contentCenter {
  display: flex;
  align-items: center; /* 로그인, 마이페이지 중앙 정렬 */
}

.dotNone {
  list-style: none; /* li태그 점 없애기 */
}

.marginAuto {
  margin: 0 auto; /* 영화 목록 배치  */
}

.marginTop {
  margin-top: 5rem;
}

.marginBottom {
  margin-bottom: 0.7rem;
}

.marginLeft {
  margin-left: 1.5rem;
}

.marginReview {
  margin-top: 3rem;
}

.paddingHeader {
  padding-left: 40px;
  padding-right: 40px;
}

.paddingRight {
  padding-right: 40px;
}

.textRed {
  color: red;
}

.textBlack {
  color: black;
}

.imgHeight {
  height: 300px;
}

.underLineNone {
  text-decoration: none; /* 링크 밑줄 제거 */
}

.movieDetailContainer {
  display: flex;
  gap: 20px; /* 포스터와 정보 간 간격 */
}

.moviePoster {
  flex-shrink: 0; /* 포스터 크기를 고정 */
  max-width: 200px; /* 포스터 최대 너비 설정 */
}

.movieInfo {
  display: flex;
  flex-direction: column; /* 정보를 세로로 정렬 */
}

.movieInfo li {
  margin-bottom: 10px; /* 각 항목 간 간격 */
  list-style: none; /* 점 제거 */
}

.movieInfo strong {
  font-weight: bold;
  margin-right: 10px; /* 라벨과 값 사이 간격 */
}
