:root {
  font-size: 1.5rem;
  font-family: "나눔손글씨", sans-serif;
  background-color: black;
  color: white;
  padding: 20px;
}

.flex {
  display: flex;
  flex-flow: row wrap; /* 전체 영화볼 때 배치 */
}

.header {
  display: flex;
  justify-content: space-between; /* 양쪽 끝에 요소를 배치 */
  align-items: center; /* 세로로 가운데 정렬 */
  width: 100%; /* 전체 너비를 차지하도록 */
}

.header h1 {
  flex: 1; /* 로고가 중앙에 위치하도록 */
  text-align: center; /* 로고 텍스트 중앙 정렬 */
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexEven {
  display: flex;
  justify-content: space-evenly;
}

.contentCenter {
  display: flex;
  align-items: center; /* 로그인, 마이페이지 중앙 정렬 */
}

.dotNone {
  list-style: none; /* li태그 점 없애기 */
}

.marginAuto {
  margin: 0 auto; /* 영화 목록 배치  */
}

.marginTop {
  margin-top: 5rem;
}

.marginBottom {
  margin-bottom: 0.7rem;
}

.marginLeft {
  margin-left: 1.5rem;
}

.marginReview {
  margin-top: 3rem;
}

.paddingHeader {
  padding-left: 40px;
  padding-right: 40px;
}

ul {
  padding-left: 0;
}

.textRed {
  color: red;
}

.textBlack {
  color: black;
}

.textWhite {
  color: white;
}

.textCenter {
  text-align: center;
}

.imgHeight {
  height: 300px;
}

.underLineNone {
  text-decoration: none; /* 링크 밑줄 제거 */
}

.movieDetailContainer {
  display: flex;
  gap: 20px; /* 포스터와 정보 간 간격 */
}

.moviePoster {
  flex-shrink: 0; /* 포스터 크기를 고정 */
  max-width: 200px; /* 포스터 최대 너비 설정 */
}

.movieInfo {
  display: flex;
  flex-direction: column; /* 정보를 세로로 정렬 */
}

.movieInfo li {
  margin-bottom: 10px; /* 각 항목 간 간격 */
  list-style: none; /* 점 제거 */
}

.movieInfo strong {
  font-weight: bold;
  margin-right: 10px; /* 라벨과 값 사이 간격 */
}

@font-face {
  font-family: "나눔손글씨";
  src: url("../나눔손글씨\ 다시\ 시작해.ttf") format("truetype");
}

.logoFont {
  font-size: 3rem;
}

.loginWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* 화면 전체 높이 */
}

.loginForm {
  padding: 1rem; /* 폼 내부 여백 */
  border: 2px solid white;
  border-radius: 8px;
  width: 300px; /* 폼 너비 설정 */
  text-align: center;
}

input {
  width: 50%; /* 입력 필드와 버튼의 너비를 100%로 설정 */
  padding: 0.3rem;
  margin: 0.5rem 0; /* 위아래 여백 설정 */
  border-radius: 4px;
  border: 1px solid white;
  background-color: black;
  color: white;
}

button {
  cursor: pointer; /* 버튼에 커서 포인터 추가 */
  width: 30%;
  padding: 0.3rem;
  border-radius: 4px;
  border: 1px solid white;
  background-color: black; /* 배경을 검정색으로 설정 */
  color: white; /* 텍스트 색상을 흰색으로 설정 */
}

button:hover {
  background-color: white; /* 버튼에 마우스가 올라갔을 때 배경색 변경*/
  color: black; /* 버튼에 마우스가 올라갔을 때 글자색 변경*/
}

label {
  font-size: 1rem;
}
